@import "susy";

// Settings

$total-columns  : 12;
$column-width   : 5em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$break          : 12;

// Container

.container {
  @include container($total-columns, $break);
}

// Layout

@include at-breakpoint($break) {
  .header { @include span-columns(12,$break); }
  .main { @include span-columns(12, $break); }
  .content { @include span-columns(12,$break); }
  .footer { @include span-columns(12, $break); }
  .tags {@include span-columns(12, $break); }
  .post {
    @include span-columns(9,$break);
    @include prefix(1.7, $break);
  }

}

.fullpage {
  clear: both;
  @include at-breakpoint($break) {
    margin: 0;
  }
}