---
layout: default
---

{% if page.header_img %}
<div class="fullpage">
	<div class="header-img" style="background-image: url({{ page.header_img }})"></div>
</div>
{% else %}

{% endif %}
<div class="container">
	<div class="main">
	    <div class="content">
	    {% if page.link %}
	    	<h2 data-scroll-reveal="enter bottom move 10px">{{ page.title }} - <a href="{{ page.link }}">∞</a></h2>
	    {% else %}
	    	<h2 data-scroll-reveal="enter bottom move 10px">{{ page.title }}</h2>
	    {% endif %}
			
			<p class="meta">By Jacob Reed - {{ page.date | date_to_string }}</p>

			<div class="post" data-scroll-reveal="enter bottom move 10px">
			{{ content }}
			</div>
		</div>
	</div>
</div>
